<div class="modal" id="MAFFTMSAViewerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen" role="document">
    <div class="modal-content" style="color: #F8F9FA; background-color: #DC3545">

      <div class="row d-flex justify-content-center align-items-center" style="height: 100%">
          <div class="col-md-6">
            <h1 class="display-3 text-center" id="MAFFTMSAViewerErrorLabel"></h1>
            <br>
            <h1 class="display-4 text-center" id="MAFFTMSAViewerErrorText"></h1>
            <br>
            <h1 class="display-6 text-center">
              Unfortunately, this error was not recoverable.
              Please refresh the page or restart your browser to try again.
            </h1>
          </div>
      </div>

    </div>
  </div>
</div>
