<div class="modal" id="MAFFTMSAViewerModal" tabindex="-1" role="dialog" aria-labelledby="MSAViewerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MAFFTMSAViewerModalLabel">Interface Colors</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <div class="container">


           <div class="row">
             <div class="col-2">
               <input type="color" id="MAFFTMSAViewerBackgroundColor" name="BackgroundColor" value="#FF00FF">
             </div>
             <div class="col">
              Background
             </div>
           </div>

           <div class="row">
             <div class="col-2">
               <input type="color" id="MAFFTMSAViewerSeparatorColor" name="SeparatorColor" value="#FF00FF">
             </div>
             <div class="col">
              Separator
             </div>
           </div>

           <div class="row">
             <div class="col-2">
               <input type="color" id="MAFFTMSAViewerLabelTextColor" name="LabelTextColor" value="#FF00FF">
             </div>
             <div class="col">
              Label Text
             </div>
           </div>

           <div class="row">
             <div class="col-2">
               <input type="color" id="MAFFTMSAViewerLabelTextBGColor" name="LabelTextBGColor" value="#FF00FF">
             </div>
             <div class="col">
              Label Background
             </div>
           </div>

           <div class="row">
             <div class="col-2">
               <input type="color" id="MAFFTMSAViewerScrollbarBGColor" name="ScrollbarBGColor" value="#FF00FF">
             </div>
             <div class="col">
              Scrollbar Background
             </div>
           </div>

           <div class="row">
             <div class="col-2">
               <input type="color" id="MAFFTMSAViewerScrollbarHandleColor" name="ScrollbarHandleColor" value="#FF00FF">
             </div>
             <div class="col">
                Scrollbar Handle
             </div>
           </div>


         </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="MAFFTMSAViewerApplyButton">Apply</button>
      </div>
    </div>
  </div>
</div>
