<div class="modal" id="MAFFTMSAViewerModal" tabindex="-1" role="dialog" aria-labelledby="MAFFTMSAViewerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MAFFTMSAViewerModalLabel">About</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<p id="MAFFTMSAViewerVersionLabel">PLACEHOLDER</p>
    <p>Developed by John Rozewicki (Department for Phyloinformatics, RIKEN BDR), Kazutaka Katoh (Department of Genome Informatics, Osaka University iFReC), and Shigehiro Kuraku (Department for Phyloinformatics, RIKEN BDR & National Institute of Genetics)</p>
    <p>© RIKEN 2022</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
