<div class="modal" id="MAFFTMSAViewerModal" tabindex="-1" role="dialog" aria-labelledby="MSAViewerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MAFFTMSAViewerModalLabel">Open Local File...</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="custom-file">
          <label class="custom-file-label" for="customFile">Choose file:&nbsp;&nbsp;</label>
          <input type="file" class="custom-file-input" id="MAFFTMSAViewerFileInputBox">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="MAFFTMSAViewerLoadButton">Load</button>
      </div>
    </div>
  </div>
</div>
