<div class="modal" id="MAFFTMSAViewerModal" tabindex="-1" role="dialog" aria-labelledby="MAFFTMSAViewerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MAFFTMSAViewerModalLabel">FASTA</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">

        <p>Click or right click->Save as.. to download PNG file.</p>

      <a href="" id="MAFFTMSAViewer_menu_file_export_png_link" download="MAFFTMSAViewer.png">Download</a>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
