<div class="modal" id="MAFFTMSAViewerModal" tabindex="-1" role="dialog" aria-labelledby="MSAViewerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MAFFTMSAViewerModalLabel">Open URL...</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<input type="url" class="form-control" id="MAFFTMSAViewerURLInputBox" value="./sample_inputs/1382x30k.fasta.gz">
		<!--<input type="url" class="form-control" id="MAFFTMSAViewerURLInputBox" value="./sample_inputs/test_texture.fasta.gz">-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="MAFFTMSAViewerLoadButton">Load</button>
      </div>
    </div>
  </div>
</div>
