<!--Begin tool bar-->
<nav class="navbar navbar-expand-sm navbar-light bg-light MAFFTMSAViewerNoPadding">
  <div class="container-fluid">
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="MAFFTMSAViewerPositionBoxLabel">Position:</span>
      <input type="text" class="form-control" id="MAFFTMSAViewerPositionBox" aria-label="MSA Position" aria-describedby="MAFFTMSAViewerPositionBoxLabel">
      <button class="btn btn-sm btn-primary" type="button">Go</button>
    </div>
  </div>
</nav>
